.header {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    padding: 10px 5px;
    background-color: #ffffff;
    height: auto;
}
.header .options{
    display: flex;
}


.header img{
    width: 122px;
    height: 25px;
    margin-left: 20px;
}
h3{
    padding: 2px;
    margin-top: 1px;
    font-size: 19px;
    margin-left: 15px;
}
.searchBar{
    height: 33px;
    width: 690px;
    border-width: 0px;
    /* border: 2px solid ; */
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    outline: 0 none;
    /* border-color:#f1f1f1 ; */
    background-color: #ffffffb8;
    border: 1px #0000004f solid;
    border-right: none;

}
.searchIcon{
    padding-top: 4px;
    padding-right: 10px;
    font-size: 20px; 
    width: auto;
    height: 33px; 
    background-color: #ffffffb8;
    border: 1px #0000004f solid;
    border-left: none;
    background: size 10px;
    margin-top: 0px;
    border-radius: 0px 5px 5px 0px;
}
.searchIcon:hover{
    color: rgb(23 98 211 / 84%);
}
.searchComponent{
    display: flex;
    flex-direction: row;
    padding-right: 12px;
}

#cartlogo{
    font-size: 26px;
    margin-top: 3px;
}
/* #cartlogo:hover,.locationLogo:hover,.header .logo:hover{
    color:aliceblue
} */
.dropDown .locationLogo:hover{
    color: black;
}
.dropDown-content{
    display: none;
    position: absolute;
    right: 8px;
    background-color: #f1f1f1;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3px;
}
.dropDown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    border-radius: 3px;
   
}
.dropDown{
    position: relative;
    /* display: inline-block; */
}
.dropDown-content a:hover {
    background-color: rgb(255, 255, 255);
}
.dropDown:hover .dropDown-content{display: block}

.dropDown:hover .dropPin{
    transform: rotate(180deg);
}
.dropPin{
    font-size: 20px;
    transition: 0.3s;
    display: inline-block;
}
.loginBtn{
    height: 33px;
    border-radius: 5px;
    outline: none;
    border-color: floralwhite;
    font-size: 15px;
    font-weight:bold;
    width: auto;
    padding: 0px 25px;

}
.loginBtn:hover{
    background-color: rgb(182, 124, 220);
    color: #f1f1f1;
    box-shadow: none;
    border-color:#f1f1f1 ;
    outline: 0 none;
}
.more{
    font-size: 19px;
    font-weight: 500;
    padding-left: 7px;
    margin-right: 15px;
}
.more:hover{
color: #1a1919;
}
.more-pin:hover .dropDown-content{display: block;}
.more:hover .dropPin{
color: #f1f1f1;
transform: rotate(180deg);
}

#badgenoti span{
    color: #fffdfd;
    background-color: red;
}

#cartlogo{
    color:black;
}

 


@media screen and (max-width: 1200px) {
    .searchComponent{
        display: none;
    }
  }
