table,tr,td{
    border-radius: 25px;
}

.firsttr{
    border-top: 1px #00000026 solid;
    border-bottom: 1px #00000026 solid;

}
td{
    /* border: 2px solid; */
    padding: 20px 0px;
    /* font-size: xx-large;
    font-weight: bold; */
  
}
table{
    width: 45%;
    /* margin-top: 100px;
    box-shadow: 15px 15px #ffffff4d;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png"); */
}
.cartchildcontainer{
 display: flex;
 justify-content: center;

}

.cartmaincontainer div p{
    text-align: center;
    font-size: 32px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    padding-top: 75px;
    padding-bottom: 30px;
}
tr{
    text-align: center;
}

.cartmaincontainer{
  
    /* align-items: center; */
    /* background-color: #000000b5;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png"); */
    min-height: 948px;
}

.cartimg{
    width: 80px;
    height: 70px;
}

.plusbtn{
    border-radius:0px 5px 5px 0px ;
    /* width: 40px; */
    /* height: 53px; */
    border: 2px #0000001f solid;
    background-color: white;
}

.minusbtn{
    border-radius: 5px 0px 0px 5px;
    width: 26px;
    height: 30px;
    border: 2px #0000001f solid;
    background-color: white;

}
.cartbtn span{
    /* border-top: 2px solid;
    border-bottom: 2px solid; */
    padding: 6px 10px 5.5px 5px;
    background-color: #c7c4c46b;

}

#deletebtn{
    font-size: 25px;
    
}
#deletebtn:hover{
    color: red;
}

@media (max-width:360px){
table{
    width: 100%;
}
}

@media (max-width:768px){
    table{
        width: 600%;
    }
    }