.maincontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 26px;
  padding: 0px 11px;
  margin-bottom: 50px;
}

.maincontainer h1{
  font-size: 28px;
    text-transform: uppercase;
}
.maincontainer .descripition p{
  width: 300px;
}

.childcontainers {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #f1f1f1;
    height: max-content;
    margin-top: 90px;
    align-items: center;

}

.childcontainers:hover {

  box-shadow: 5px 3px 12px 0px #8f8c8cc2;
  background-color: #f7f7f7;


}

.img {
  width: 240px;
  height: 205px;
}
.rating{
  margin-bottom: 10px;
}

.appAddcartbtn {
  margin: auto;
  border: 1px blue solid;
  border-radius: 5px;
  width: max-content;
}

.appAddcartbtn:hover {
  border: 1px rgb(0 0 0 / 8%) solid;
  background-color: rgb(0 0 0 / 8%);
}

.appAddcartbtn p {
  margin: 0px;
}

.horizontalScroll {
  display: flex;
  column-gap: 10px;
  overflow-x: auto
}

.horizontalScroll::-webkit-scrollbar{
  width: 0;
  display: none;
}
.horizontalScroll .childcontainers{
  margin-top: 28px;
  text-align: left;
  text-transform: uppercase;
}
.horizontalScroll .childcontainers h1{
  font-size: 28px;
}
.horizontalScroll .childcontainers .descripition p{
  width: 300px;
}
